$bg-primary :hsl(200, 67%, 23%) ;
$bg-secondary :#2596be;
 
// text colors 
$text-heading:#243137;  
$charcol-text:#36454F;
$logo-dot:#199898;
//navbar colors 
$navbar-btn :#0c91d3 ;
$navbar-btn-hover :#0674ab ;
$bg-text-primary : #fff3d9; 
$text-pink:#FADCD2;


 // blog section colors 
$text-blog:#7393B3;
$white-color:#ffffff;
$blog-writer-bg:#f4f4f4;

//footer colors
$footer-background:hsl(0, 0%, 94%);
$footer-year-color:$navbar-btn; 
$footer-text-color:$charcol-text;

//get started colors

$bg-card-background: $footer-background;

// portion bg colors 

$portion-colors--customer:#90ee90 ;


